venv/
__pycache__/
*.pyc
.env
config/secrets.env
config/rvm-credentials.json
config/credential.json
config/credentials.json
.vscode/
.idea/
*.log
data/local.db
data/local.db-journal
data/temp_images/*
