[Unit]
Description=MyRVM Edge Client v2.0 (2026)
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{USER}}
Group=rvm-devs
WorkingDirectory={{WORKING_DIR}}
ExecStart={{WORKING_DIR}}/venv/bin/python -u main.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
