[Unit]
Description=MyRVM Edge Auto-Updater
After=network.target

[Service]
Type=oneshot
User={{USER}}
WorkingDirectory={{WORKING_DIR}}
ExecStart=/usr/bin/git pull --rebase origin dev-edge
StandardOutput=journal
StandardError=journal
