[Unit]
Description=MyRVM Edge Auto-Updater v2.0 (2026)
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User={{USER}}
Group=rvm-devs
WorkingDirectory={{WORKING_DIR}}
ExecStart=/usr/bin/git pull --rebase origin dev-edge
StandardOutput=journal
StandardError=journal
