[Unit]
Description=Run MyRVM Edge Auto-Updater every 10 minutes v2.0 (2026)
After=network.target network-online.target
Wants=network-online.target

[Timer]
OnBootSec=5min
OnUnitActiveSec=10min
Unit=myrvm-updater.service

[Install]
WantedBy=timers.target
